/*---------------------------------*/
/* VARIABLES
/*---------------------------------*/
/*---------------------------------*/
/* REUSABLES
/*---------------------------------*/
.p-style {
  width: 80%;
  margin-left: 10%; }

.img-scale img {
  transform: scale(1.03);
  transition: transform 0.5s; }

.img-scale img:hover {
  transform: scale(1.15);
  z-index: 5; }

.fas {
  color: #3a241a; }

/*---------------------------------*/
/* NAVBAR + CAROUSEL
/*---------------------------------*/
.navbar {
  border-bottom: 3px solid #ffcf6e;
  opacity: 0.98; }

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-right: 1.5rem !important; }

.logo-font {
  font-size: 1.5rem;
  font-family: "Pacifico", cursive; }

.carousel-item {
  height: 100vh; }

.carousel-image-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/barbecue1.jpg");
  background-size: cover;
  background-position: center; }

.carousel-image-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/barbecue2.jpg");
  background-size: cover;
  background-position: center; }

.carousel-image-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/celebrate.jpg");
  background-size: cover;
  background-position: center; }

/*---------------------------------*/
/* PROMOS
/*---------------------------------*/
#promos h4 {
  margin-left: 10%; }

/*---------------------------------*/
/* CONTACT
/*---------------------------------*/
#contact {
  background-color: #ffcf6e;
  color: #3a241a; }

.form-width {
  width: 70%;
  margin-left: 15%; }

/*---------------------------------*/
/* FOOTER
/*---------------------------------*/
.twit .fab:hover {
  color: #1da1f2; }

.face .fab:hover {
  color: #1877f2; }

.insta .fab:hover {
  color: #c32aa3; }

.link .fab:hover {
  color: #007bb5; }
